<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>Document</title>
		<style>
			.container {
				margin: 0 auto;
				width: 80%;
				text-align: center;
				color: #f56b35;
			}
			.title {
				font-size: 2em;
				font-weight: bold;
			}
			.conf-p {
				font-size: 1em;
			}
			.conf-link {
				display: block;
				margin: 0 auto;
				width: 200px;
				height: 50px;
				text-decoration: none;
				background-color: #f56b35;
				border-radius: 5px;
			}
			.link-text {
				color: #fff;
				font-size: 1em;
				line-height: 50px;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<h1 class="title">Hello, <%= locals.email %> </h1>
			<p class="conf-p">
				Confirm your password reset by clicking the link below.
				Follow this link:
			</p>
			<a class="conf-link" href="<%= locals.host %>/auth/reset-password-form?token=<%= locals.token %>">
				<span class="link-text">Confirm Password Reset</span>
			</a>
		</div>
	</body>
</html>