<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <title>Telegram 2.0</title>
</head>
<body>
    <label for="sendAgain">Email sent</label>
    <form action="/auth/email-send" method="POST">
        <input type="text" name="email" style="visibility: hidden;" value="<%= email %>">
        <button type="submit" class="btn btn-primary" id="sendAgain">Send again</button>
    </form>
</body>
</html>