<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <title>Telegram 2.0</title>
</head>

<body>
    <form id="authForm" action="/auth-render/email-send" method="POST">
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" class="form-control" name="email" id="inputEmail" placeholder="Enter your email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>