<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <title>Telegram 2.0</title>
</head>

<body>
    <form id="authForm" action="./confirm-password-reset" method="POST">
        <div class="form-group">
            <label for="inputPassword">Reset password</label>
            <input type="password" class="form-control" name="new_password" id="inputPassword" placeholder="New password">
            <input type="text" name="token" value="<%= token %>" style="visibility: hidden;">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>